.hero-btn {
  width: 40vw;
  color: white;
  text-align: center;
  font-size: 2vw;
  cursor: pointer;
  padding: 1rem;
  border-radius: 30px;
  transition: ease-in-out 0.2s;
  -webkit-transition: ease-in-out 0.2s;
  background: linear-gradient(to right, #edce34 0%, #ed5f34 100%);
  background: -webkit-linear-gradient(left, #edce34 0%, #ed5f34 100%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -1rem;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-btn span {
  display: block;
  width: 5em;
  height: 5em;
  background-color: white;
  border-radius: 50%;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  color: rgb(44, 43, 43);
  font-size: 10px;
  font-weight: bold;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-btn:hover {
  transform: scale(1.1);
  transform-origin: bottom;
}

@media screen and (max-width: 767px) {
  .hero-btn {
    width: 80%;
    font-size: 3vw;
    justify-content: flex-start;
    padding-left: 15vw;
  }

  .hero-btn span {
    width: 12vw;
    height: 12vw;
    font-size: 1vw;
  }
}
