/* section {
  margin-top: 4rem;
} */

.other-title {
  font-size: 1rem;
}

.other-texts {
  font-size: 1.5vh;
  font-weight: 300;
  max-width: 600px;
  margin: 2rem auto 0;
  line-height: 1.2rem;
}

@media screen and (max-width: 767px) {
  .other-section {
    padding-top: 0;
  }

  .other-texts {
    width: 80%;
  }
}
