@import url("https://use.typekit.net/voa0pic.css");

section {
  text-align: center;
}

.about-section {
  padding-top: 8em;
}

.about-heading span {
  text-decoration: underline;
  /* font-size: 2vw; */
}

.about-title {
  /* display: flex;
  align-items: center;
  justify-content: center; */
  font-size: 1.5rem;
  margin-top: 2rem;
}

/* .about-title-logo {
  width: 40%;
} */

/* .about-title-logo img {
  width: 100%;
} */

.about-lists {
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 700px;
  margin: 2rem auto 0;
}

.about-lists li {
  /* max-width: 300px;
  max-height: 300px; */
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: -webkit-linear-gradient(left, #edce34 0%, #ed5f34 100%);
  background: linear-gradient(to right, #edce34 0%, #ed5f34 100%);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  color: white;
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* .about-lists li:not(:last-child) {
  margin-right: 1rem;
} */

.about-list-title {
  font-size: 1vw;
}

.about-list-data {
  font-family: din-2014, sans-serif;

  font-weight: 400;

  font-style: normal;
  font-size: 50px;
}
.about-list-data span {
  font-size: 2vw;
}

.about-text {
  margin-top: 4rem;
  font-weight: 200;
  line-height: 1.8rem;
  letter-spacing: 0.05rem;
}

@media screen and (max-width: 767px) {
  .about-lists {
    max-width: 95%;
  }

  .about-title {
    font-family: din-2014, sans-serif;
    font-weight: 400;
    margin-top: 1rem;
  }
  .about-lists li {
    width: 200px;
    height: 200px;
    font-size: 1vw;
  }
  .about-list-data {
    font-size: 8vw;
    justify-content: space-around;
  }

  .about-text {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
  }
}

@media screen and (max-width: 650px) {
  .about-lists li {
    width: 150px;
    height: 150px;
  }
}

@media screen and (max-width: 480px) {
  .about-lists li {
    width: 120px;
    height: 120px;
  }
}
@media screen and (max-width: 380px) {
  .about-lists li {
    width: 100px;
    height: 100px;
  }
}
