@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;500&display=swap");

* {
  font-family: "Noto Sans JP", sans-serif;
}

/* .main {
  padding: 100px 0;
} */

.content {
  max-width: 1200px;
  margin: 1rem auto;
}

.only-sp {
  display: none;
}

.only-pc {
  display: block;
}

@media screen and (max-width: 767px) {
  .only-sp {
    display: block;
  }
  .only-pc {
    display: none;
  }
}
